{% extends "main.twig" %}
{% block content %}
<section>
    <p>Mostrando resultados para la factura {{query.document}} del proveedor RUC-{{query.provider}}.</p>
    <table>
        <thead>
            <tr>
                <th>Emisor</th>
                <th>Certificado de Retencion</th>
                <th>Monto Retenido</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list %}
            <tr>
                <td>{{item.issuer}}</td>
                <td>{{item.document}}</td>
                <td>{{item.amount}}</td>
                <td><a href="pdf/export.php?name={{item.id}}&provider={{query.provider}}&env=prod">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content %}