<table style="width: 100%;font-weight:bold;" cellspacing="0"><tr>
    <td style="width: 60%;text-align:left;font-size:8;color:gray">
        {% block logo %}
        {% if not emisor.logo is null %}
        <img title="" alt="" src="{{ emisor.logo }}" /><br />
        {% endif %}
        {% endblock %}
        <span>{{emisor.ubicacion.direccion}}</span><br/>
        <span>{{emisor.ubicacion.distrito}} - {{emisor.ubicacion.provincia}} - {{emisor.ubicacion.pais}}</span><br/>
        {% block contacto %}{% endblock %}
    </td>
    <td style="border: solid 1mm #000000; width: 40%; text-align:center;font-weight:bold;font-size:18">
        <br/>
        <span>R.U.C. N° {{emisor.documento.numero}}</span><br />
        {% if documento.tipo == '01' %}
        <span>FACTURA</span><br />
        <span>ELECTRÓNICA</span><br />
        {% elseif documento.tipo == '20' %}
        <span>COMPROBANTE DE RETENCIÓN</span><br />
        <span>ELECTRÓNICO</span><br />
        {% endif %}
        <span>{{documento.numero}}</span><br />
        <br/>
    </td>
</tr></table>