{% import 'default/macros.twig' as tool %}
<table style="width:100%;border:solid 1px #000000;padding:1mm 1mm 1mm 1mm;font-size:12" cellspacing="0">
    <tr>
        <td style="width: 15%;font-weight:bold;">
            {% if cliente.documento.tipo == '1' %}
                Se침or(a):
            {% else %}
                Se침ores:
            {% endif %}
        </td>
        <td style="width: 45%">{{cliente.datos.razon_social}}</td>
        <td style="width: 15%;font-weight:bold;">
            {% if cliente.documento.tipo == '1' %}
                DNI:
            {% elseif cliente.documento.tipo == '6' %}
                RUC:
            {% else %}
                Doc.:
            {% endif %}
        </td>
        <td style="width: 25%">{{ cliente.documento.numero }}</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Direcci칩n:</td>
        <td style="" >{{ cliente.ubicacion.direccion }}</td>
        <td style="font-weight:bold;">Fecha de emisi칩n:</td>
        <td style="">{{ tool.irregular_date(documento.fecha_emision) }}</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">&nbsp;</td>
        <td style="">{{cliente.ubicacion.distrito}} - {{cliente.ubicacion.provincia}} - {{ cliente.ubicacion.departamento }}</td>

        <td style="font-weight:bold;">Moneda:</td>
        <td style="">{{ tool.fel_document_currency_name(documento.moneda) }}</td>

    </tr>
    <tr>
        <td style="font-weight:bold;">Ruta:</td>
        <td style="">{{ cliente.codigo }}</td>

        <td style="font-weight:bold;">Tipo de Cliente:</td>
        <td style="">{{ cliente.tipo }}</td>

    </tr>



</table>